MICROCMS_SERVICE_DOMAIN=
MICROCMS_API_KEY=
NEXT_PUBLIC_SITE_URL=https://www.bassic.jp
NEXT_PUBLIC_GOOGLE_MAPS_URL=https://www.google.com/maps/search/?api=1&query=public%20bar%20Bassic.%20%E7%A6%8F%E5%B2%A1%E5%B8%82%E4%B8%AD%E5%A4%AE%E5%8C%BA%E5%A4%A9%E7%A5%9E3-4-19%20WITH%E5%A4%A9%E7%A5%9E5F
NEXT_PUBLIC_INSTAGRAM_WIDGET_SRC=
NEXT_PUBLIC_X_WIDGET_SRC=
SOCIAL_FEED_LIMIT=5
META_GRAPH_VERSION=v23.0
X_BEARER_TOKEN=
X_USERNAME=bar_Bassic
INSTAGRAM_ACCESS_TOKEN=
INSTAGRAM_USER_ID=
FACEBOOK_PAGE_ACCESS_TOKEN=
FACEBOOK_PAGE_ID=bar.Bassic
